body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('src/bkg.jpg');
}
h1 {
  color: white; 
  font-family: arial
}
h2 {
  color: whitesmoke; 
  font-family: arial
}
h3 {
  color: whitesmoke;
  font-family: Helvetica;
}

pre {
  color: #b6f0f2;
  font-family: Arial;
  font-size: 100%;
}

a:link {
  color: #22a3ce;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  color: lightgrey;
  background-color: black;
}
